
.display{
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    pointer-events: none;
}

#nav-container {
    position: absolute;
}

.nav__container {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    letter-spacing: -1px;
    font-weight: bold;
}

.main-nav {
    position: fixed;
    background: rgb(0,0,0,0.9);
    width: 100%;
    margin: 0;
    z-index: 2;
    transition: opacity 400ms ease-in-out;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 0 0 0 0;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.main-nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    padding: 2rem 4rem;
    font-size: 1.2rem;
}

.nav-item {
    opacity: 1;
    transition: height 500ms ease-in-out;
    height: 100%;
    max-height: 130px;
}

.nav__toggle {
    width: 35px;
    height: 40px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    z-index: 4;
}

.nav__toggle__line {
    border-bottom: 2px solid #ffffff;
    position: absolute;
    width: 45px;
    transition: all 500ms ease;
}

.nav__toggle__line-top--selected {
    transform: rotate(-225deg);
    top: 1rem;
}

.nav__toggle__line-middle {
    top: 1rem;
}

.nav__toggle__line-bottom {
    top: 2rem;
}

.nav__toggle__line-bottom--selected {
    transform: rotate(45deg);
    top: 1rem;
}

.nav__logo{
    background:url('../images/rob.png');
    width: 60px;
    height: 60px;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2rem;
    background-repeat: no-repeat;
}

#contact-button{
    cursor: pointer;
}

#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}

#contact-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

#contact-form input, 
#contact-form textarea{
    margin: 0.5rem;
    padding: 1rem;
    font-family: inherit;
    border-radius: 35px;
    border: none;
}

#contact-form input:focus, 
#contact-form textarea:focus{
    outline: 0px;
    border: none;
}

#submit-btn{
    background: linear-gradient(90deg, #4501c8, #fc5555);
    color: #fff;
    font-size: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    margin: 1rem 0;
    font-family: inherit;
    width: 200px;
}


.hidden {
    height: 0;
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity 500ms ease-in-out;
}

.nav-item-arrow {
    margin-left: 0.7rem;
    position: absolute;
}

.point-down {
    transform: rotate(90deg);
    transition: transform 1000ms ease-in-out;
}

.rob-head-shot {
    height: 60%;
    width: 100%;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
}

.rob-head-shot img {
    width: 180px;
    border-radius: 50%;
    margin-left: -2rem;
    object-fit: cover;
    height: 180px;
    object-position: top;
    border: 5px solid #3b034e;
}

@media (max-width: 800px){
    .rob-head-shot img {
        width: 121px;
        margin-left: 2rem;
        height: 125px;
    }
}
@media (max-width:650px) {
    .nav-item {
        max-height: 100px;
    }
}