@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 24px;
}

.standard {
  color: #ffffff;
  max-width: 600px;
  padding: 2rem;
  width: 100%;
}

.hero-container {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2rem;
  max-width: 1000px;
}

.full-width-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 900px) {
}

footer {
  display: none;
}
