@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*   {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(46,50,135);
    background: linear-gradient(90deg, rgba(46,50,135,1) 0%, rgba(23,1,88,1) 0%, rgba(0,42,176,1) 100%, rgba(11,0,96,1) 100%, rgba(61,26,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;

}

#search{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#search:focus{
    outline: none;
}

.card {
    background: rgb(46,50,135);
    background: linear-gradient(90deg, rgba(46,50,135,1) 0%, rgba(58,32,125,1) 0%, rgba(25,0,97,1) 100%);
    color: #eeeeee;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 
    0 5px 10px rgb(25, 10, 82);
    max-width: 800px;;
}

@media(max-width: 450px){
    .card {
        border-radius: 0;
    }
}

.info-container {
    display: flex;
    border-bottom: 1px solid #4a1d73;
    margin-bottom: 2rem;
}

.avatar {
    border-radius: 50%;
    border: 10px solid  rgba(46,50,135,1); 
    height: 150px;
    width: 150px;
}

.user-info{
    margin-left: 2rem;
}

.user-info h2{
    margin-left: 0rem;
}

.info {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding: 0;
}

i {
    margin-right: 0.5rem;
}

.fa-heart {
    color: red;
}

.repo-container {
    max-height: 100px;
    overflow: auto;
    margin-top: 1rem;
    padding-right: 0.5rem;
}

.repo-container a {
    text-decoration: none;;
}

.repo {
    background-color: rgba(46,50,135,1);
    display: inline-block;
    color: #ffffff;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.7rem;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(46,50,135,1);; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(46,50,135,1);; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(46,50,135,1);; 
}