body{
    font-family: 'Poppins', sans-serif;
    background: rgb(46,50,135);
    background: linear-gradient(90deg, rgba(46,50,135,1) 0%, rgba(33,26,92,1) 100%, rgba(11,0,96,1) 100%, rgba(61,26,255,1) 100%, rgba(28,81,255,1) 100%);
}

header{
    background: rgb(84, 73, 148);
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: 2px solid  rgba(33,26,92,1);
    font-family: inherit;
}

.search::placeholder{
    color:  rgb(138, 129, 224);
}

.search:focus{
    background-color: rgba(33,26,92,1);
    outline: none;
    color:  rgb(138, 129, 224);
}

.movie{
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgb(0,0,0,0.2);
    background: rgb(84, 73, 148);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    position: relative;
}

@media (max-width:650px) {
    .movie {
        width: 180px;
    }
}

@media (max-width:600px) {
    .movie {
        width: 160px;
    }
}

@media (max-width:530px) {
    .movie {
        width: 200px;
    }
}

@media (max-width:433px) {
    .movie {
        width: 285px;
    }
}

.movie img{
    width: 100%;
}

.movie-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #eee;
}

.movie h3 {
    margin: 0;
    font-size: 0.8rem;
    padding-right: 0.25rem;
}

.movie-info span{
    background: rgb(46,50,135);
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 3px;
}

.movie-info span.green{
    color: rgb(39, 189, 39);
}   

.movie-info span.orange{
    color:orange;
}   

.movie-info span.red{
    color: red;
} 

.overview {
    font-size: 0.7rem;
    padding: 1rem 1rem 3rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    overflow: auto;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform 300ms ease-in;
}

.movie:hover .overview{
    transform:translateY(10%)
}

.overview h4 {
    margin-top: 0;
}

.movie-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    max-width: 500px;
    max-height: 600px;
    box-shadow: 0 0 14px rgb(0,0,0, 1);
    padding: 2rem;
}

.movie-popup-header {
    display: flex;
    padding: 0rem 0rem 2rem;
}

.movie-popup-header-info {
    padding: 1rem;
}